/* 
    Document   : style
    Created on : Apr 1, 2012, 6:20:52 PM
    Author     : mtnauha
    Description:
        Default style.
*/
#top
{
    background-color:#404040;
    margin:0px;
    padding: 8px 150px 8px 150px;
}
#navigation
{
    background-color:#EEEEEE;
    padding-left: 150px;
    padding-right: 150px;
}
#active
{
    display:block;
    padding:5px;
    color:#000000;
    background-color:#FFFFFF;
    font-size:1.2em;
}
#maincontent
{
    padding:20px 150px 20px 150px;
}
#profile
{
    background-color:#FFFFFF;
    display: inline;
    float: left;
    padding: 10px;
}
#otherimages
{
    background-color:#FFFFFF;
    padding: 10px;
    float: left;
}
body
{
    background-color:#FFFFFF;
    margin:0px;
    padding:0px;
    font-family: Verdana,Arial,sans-serif;
    font-size:1em;
}
h1
{
    color:white;
    margin:0px;
}
h2
{
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
h3
{
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
a:link
{
    color:#97B932;
    text-decoration:none;
}
a:visited
{
    color:#97B932;
}
a:hover
{
    color:#C0C0C0;
}
a:active
{
    color:#97B932;
}
ul.navigation
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li.navigation
{
    float:left;
}
a.navigation
{
    color:#97B932;
    display:block;
    padding:5px;
    background-color:#EEEEEE;
    font-size:1.2em;
}
a.navigation:hover
{
    display:block;
    padding:5px;
    color:#000000;
    background-color:#FFFFFF;
    font-size:1.2em;
}
a.userlist:link
{
    color: #000000;
}
a.userlist:visited
{
    color: #000000;
}
a.userlist:active
{
    color: #000000;
}
a.userlist:hover
{
    color: #FFFFFF;
}
#userlist
{
    font-family: Arial, Helvetica, sans-serif;
    width:auto;
    border-collapse:collapse;
}
#userlist td, #userlist th
{
    font-size:1em;
    border:1px solid #98bf21;
    padding:10px;
}
#userlist th 
{
    font-size:1.1em;
    text-align:left;
    padding:4px 4px 4px 4px;
    background-color:#A7C942;
    color:#ffffff;
}
#userlist tr:hover
{
    background-color: #A7C942;
}
div.image
{
  margin: 2px;
  padding: 4px;
  background-color: #E0E0E0;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}	
div.image img
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
}
div.image a:hover img
{
    border: 1px solid #000000;
}
div.desc
{
  text-align: center;
  font-weight: normal;
  font-size: 0.8em;
  width: 140px;
  margin: 2px;
}
#upload
{
    padding-top: 10px;
    clear: left;
}

